/* --------------- Reset --------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    width: 100%;
    height: auto;
    display: block;
}

/* --------------- Tekst --------------- */
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}

/* --------------- Grids --------------- */