* {
  box-sizing: border-box;
}

main {
  margin: 0px auto;
  max-width: 1400px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
.col {
  margin: -10px 53px 0px 32px;
}
.col img {
  border-radius: 10px 10px 0px 0px;
}
.col_1 {
  background-color: antiquewhite;
  border-radius: 0px 0px 10px 10px;
}
.col p {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 8px;
}

.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  background-color: aquamarine;
  padding: 60px;
}

.grid_12_12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.box_1 {
  grid-column: 1 / span 12;
  grid-row: 1 / span 3;
  height: 300px;
  object-fit: cover;
}

.box_2 {
  grid-column: 2 / span 10;
  grid-row: 3/9;
  margin: 20px;
}

.box_3 {
  grid-column: 1/12;
  grid-row: 9/12;
}
