/* Global styles */
* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

/* footer */
footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--blaa);
  gap: 6rem;
  padding: 3rem;
}
