/* Global styles */
* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

/* header */
.banner {
  background: #5000ca22;
  padding: 2rem;
}

/* footer */
footer {
  background-color: blue;
}
