/* MOBIL --- MOBIL --- MOBIL --- MOBIL --- MOBIL */
@media (max-width: 800px) {
  /* top */
  .top_banner {
    display: grid;
    background-color: var(--blaa);
    padding: 3% 0 5% 0;
    text-align: center;
  }
}

/* DESKTOP --- DESKTOP --- DESKTOP --- DESKTOP --- DESKTOP */

@media (min-width: 800px) {
  .top_banner {
    display: grid;
    background-color: var(--blaa);
    padding: 3% 0 5% 0;
    text-align: center;
    gap: 12%;
  }

  /* --------------- Vores ydelser boxe   --------------- */

  .ydelser_boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    margin: 0px 30px 0 30px;
  }

  .col a {
    text-decoration: none;
  }
  .col {
    margin: 25px 60px 65px 60px;
    padding: 10px;
  }
  .col img {
    max-width: 600rem;
    border-radius: 30px 20px 0px 0px;
  }
  .col_1 {
    background-color: var(--blaa);
    border-radius: 0px 0px 15px 15px;
    height: 120px;
    margin-top: -60px;
    width: 260px;
    position: absolute;
  }
  .col p {
    font-family: "Work Sans", sans-serif;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 15px;
    color: #fff;
  }

  .ydelser_knap {
    font-family: "Work Sans", sans-serif;
    display: inline-block;
    color: white;
    background-color: var(--pink);
    padding: 1% 8%;
    line-height: 1.4;
    font-size: 0.7rem;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 0.55s ease;
    text-decoration: none;
    margin: 3%;
    margin-left: 100px;
    margin-top: 25px;
  }

  .col:hover {
    transition-timing-function: ease-out;
    transition: 2s;
    transform: scale(1.1);
  }

  .sidste_col {
    grid-column: 2/3;
  }
}

/* ---------- blå boks -----------*/
.baggrund_blaa {
  background-color: var(--blaa);
  padding: 5%;
  max-width: 85%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 80px;
  border-radius: 25px;
}

.h3_sundhed {
  margin-bottom: 20px;
}

/* ---------- sundhedsambassadør -----------*/
.sundhed_col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 60px;
  margin-left: 150px;
  margin-right: 120px;
}
.sundhed_col2 {
  margin-top: 60px;
}

/* ---------- Gør mit billede rundt -----------*/
.sundhed_billede {
  border-radius: 200px;
}

/* ---------- footer -----------*/
footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--blaa);
  gap: 6rem;
  padding: 3rem;
}
